@font-face {
    font-family: 'Dinero Display';
    src: url('https://cdn.prod.website-files.com/62446230dcb514b828a6e237/677e9b22e731f88a295617d3_DineroSans-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Dinero Display';
    src: url('https://cdn.prod.website-files.com/62446230dcb514b828a6e237/6787d26adf41ec8215863c3f_DineroSans-Semibold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Dinero Display';
    src: url('https://cdn.prod.website-files.com/62446230dcb514b828a6e237/677e9b2247aa58851fba14e4_DineroSans-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Stix Two Text';
    src: url('https://cdn.prod.website-files.com/62446230dcb514b828a6e237/67780817575770f01d44291a_STIXTwoText-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Stix Two Text';
    src: url('https://cdn.prod.website-files.com/62446230dcb514b828a6e237/67780817dbf2ff473169e177_STIXTwoText-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
