@font-face {
    font-family: 'Dinero Sans';
    src: url('https://braze-images.com/appboy/communication/assets/font_assets/files/653051aba5eb2d004df3c5e0/original.woff2?1697665451') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
